@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  overflow-x: hidden;
  font-family: 'poppins';
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 0 40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 40px;
}

form div {
  position: relative;
}

form div span {
  position: absolute;
  color: rgb(193, 1, 1);
  bottom: -30px;
  left: 0;
}

form input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-top: 5px;
  border: none;
}

.active {
  color: #787eee;
  text-shadow: 0 0 15px #535bf2;
}

.up {
  color: greenyellow !important;
}
.down {
  color: red !important;
}

.coin-card {
  transition: all 0.3s;
}

.coin-card:hover {
  box-shadow: 0 0 30px gray;
  transform: translate(10px, -10px);
}

/* hazır kod */
.button {
  height: 45px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #252525;
  overflow: hidden;
  background: #ffffff;
  border-radius: 30px;
  color: #333;
  transition: all 0.5s ease-in-out;
}

.btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 3px;
}

.type1::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #333;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  box-shadow: 1px 1px 200px #252525;
  background: #242424;
  color: #fff;
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}
