@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: 'poppins';
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.auth {
  background: white;
  color: black;
  width: 60vw;
  max-width: 600px;
  height: 50vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  @media (max-width: 700px) {
    width: 90vw;
  }
  button {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    img {
      width: 30px;
    }
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  background: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }
  &:focus {
    outline: 4px auto #646cff;
  }
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

// oda seçme alanı
.room-page {
  background: white;
  color: #1a1a1a;
  padding: 50px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;

  input {
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.284);
  }

  button {
    color: white;
    transition: all 0.3s;
    &:hover {
      filter: brightness(60%);
    }

    &:nth-of-type(2) {
      background: rgb(174, 6, 40);
    }
  }
}

// sohbet sayfası
.chat {
  background: #f5f5f5;
  height: 70vh;
  width: 70vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  border-radius: 10px;
  overflow: hidden;

  @media (max-width: 650px) {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
  }
}

.chat header {
  background: #4d4c7d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  p:nth-of-type(2) {
    text-transform: uppercase;
  }

  button {
    background: #f99417;
    color: #f5f5f5;
  }
}

.chat form {
  display: flex;
  justify-content: center;
  background: #4d4c7d;
  padding: 10px;
  gap: 20px;
  input {
    width: 50%;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.529);
  }
  button {
    background: #f99417;
    color: white;
    transition: all 0.3s;
    :hover {
      filter: brightness(60%);
    }
  }
}

.chat main {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: black;
  padding: 5px;
  gap: 20px;
  overflow-y: auto;
}

.msg-user {
  align-self: flex-end;
  background: #f99417;
  color: white;
  padding: 4px 8px;
  border-radius: 7px 7px 0 7px;
}

.msg-other {
  display: flex;
  align-items: center;
  gap: 5px;

  .user-info {
    display: flex;
    align-items: center;
    gap: 5px;
    img {
      width: 40px;
      border-radius: 50%;
    }
    span {
      font-weight: bold;
    }
  }
}
